@import '@angular/material/theming';
@include mat-core();

$mat-indigo: mat-palette($mat-indigo);
$mat-pink: mat-palette($mat-pink, A200, A100, A400);
$mat-red: mat-palette($mat-red);

$theme: mat-light-theme(
  (
    color: (
      primary: $mat-indigo,
      accent: $mat-pink,
      warn: $mat-red,
    )
  )
);

@include angular-material-theme($theme);
